<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/detail_tracker</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- SQL dialect -->
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Names of mapped classes -->
        <!-- Replace with your actual entity classes -->
        <mapping class="detail_tracker.entities.Address"/>
        <mapping class="detail_tracker.entities.Client"/>
        <mapping class="detail_tracker.entities.ClientAddress"/>
        <mapping class="detail_tracker.entities.Contact"/>
        <mapping class="detail_tracker.entities.ElectricalDetail"/>
        <mapping class="detail_tracker.entities.ElectricalDeviceLkp"/>
        <mapping class="detail_tracker.entities.FinishDetail"/>
        <mapping class="detail_tracker.entities.Floor"/>
        <mapping class="detail_tracker.entities.FlooringDetail"/>
        <mapping class="detail_tracker.entities.Note"/>
        <mapping class="detail_tracker.entities.PlumbingDetail"/>
        <mapping class="detail_tracker.entities.PlumbingFixtureLkp"/>
        <mapping class="detail_tracker.entities.Project"/>
        <mapping class="detail_tracker.entities.ProjectClient"/>
        <mapping class="detail_tracker.entities.Room"/>
        <mapping class="detail_tracker.entities.TrimDetail"/>
        <mapping class="detail_tracker.entities.User"/>
        <!-- More classes can be added here -->
    </session-factory>
</hibernate-configuration>